:root {
  --size-title-guide: 1.25rem;
  --size-question: 1.25rem;
  --size-video-container: 70%;
  --size-quiz-container: 45%;
  --size-gap: 3rem;
  --size-statistics: 1.2rem;
  --size-gap-statistics: 0.9rem;
  --width-button: 8.75rem;
  --padding-statistics: 1.8rem 2.5rem;
}

html {
  font-family: "Open Sans", sans-serif;
}
/* BELOW 1344px (Smaller desktops) */
@media only screen and (max-width: 84em) {
  :root {
    --size-video-container: 80%;
    --size-title-guide: 0.9rem;
    --size-question: 0.9rem;
    --size-statistics: 0.9rem;
    --padding-statistics: 1.1rem 2rem;
  }
}
/* BELOW 864px */
@media only screen and (max-width: 54em) {
  :root {
    --size-statistics: 0.6rem;
    --size-gap-statistics: 0.6rem;
    --width-button: 5rem;
  }
}
