.button-statistic {
  padding: var(--padding-button);
  font-weight: 500;
  background: #ddd;
  border-radius: 15px;
  border: none;
  font-size: var(--size-statistics);
  white-space: nowrap;
  cursor: pointer;
  z-index: 1000;
  width: var(--width-button);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.button-statistic:hover {
  background: #ed9666;
  transition: all 0.2s ease-in-out;
}
