.quiz-content {
  border: solid 0.125rem #f3a770;
  border-radius: 1.25rem;
  padding: var(--padding-quiz-content);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: var(--gap-quiz-content);
  position: relative;
  width: 100%;
}

.quiz-content b {
  text-align: center;
  font-weight: bold;
  font-size: var(--size-question);
}

.container-checkbox-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-quize-images);
}

.checkbox-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}

.image-answer {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
  border-radius: 0.625rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 0.125rem #f3a770;
}

svg {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  /* position: relative; */
}

circle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
}

.answer-box {
  position: relative;
  width: var(--width-checkbox);
  height: var(--width-checkbox);
  /* width: 40px;
  height: 40px; */
  /* width: 30%; */
  aspect-ratio: 1/1;
}

.icon-answer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -70%);
  padding: var(--pading-answer);
  background-image: linear-gradient(90deg, #f3a670, #f37b70);
  font-size: var(--size-answer);
  display: flex;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
}

.image-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.no-click {
  pointer-events: none;
}
